
.details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: calc(100vh - 120px); 
    padding-top: 80px;
}


.details-card {
    background: white;
    padding: 40px 60px;
    border-radius: 15px;
    width: 500px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}


.details-title {
    font-size: 2rem;
    font-weight: 800;
    color: #4a0080;
    margin-bottom: 20px;
}

.details-item {
    font-size: 1.2rem;
    margin: 12px 0;
    color: #333;
}


.back-btn {
    margin-top: 25px;
    background: #4da3ff;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.2s ease;
}

    .back-btn:hover {
        background: #1c82e2;
    }


.not-found {
    color: white;
    font-size: 1.6rem;
}
