.menu {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    gap: 25px;
}

.menu-item {
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
    transition: color 0.2s ease;
}

    .menu-item:hover {
        color: #646cff;
    }

    .menu-item.active {
        color: #646cff;
        border-bottom: 2px solid #646cff;
        padding-bottom: 4px;
    }
